<!DOCTYPE html>
<html>
  <head>
    <title>Store Purchase</title>
    <link rel="shortcut icon" href="image/favicon-32x32.png" />
    <link rel="stylesheet" type="text/css" href="/css/style.css" />
  </head>

  <h3><b>Created by:</b> Carlos Mauricio Silveira Barros Filho</h3>
  <br /><br />
  <h1><u>Carlos Vader Shop</u></h1>
  <img id="babyVader" src="image/baby_vader.jpg" alt="Baby Vader" width="80" />
  <img id="babyYoda" src="image/baby_yoda.jpg" alt="Baby Yoda" width="80" />
</html>
